.m {
  &__top {
    &--10 {
      margin-top: 10px;
    }

    &--20 {
      margin-top: 20px;
    }

    &--40 {
      margin-top: 40px;
    }
  }
  &__right {
    &--10 {
      margin-right: 10px;
    }
  }
  &__left {
    &--auto {
      margin-left: auto;
    }

    &--10 {
      margin-left: 10px;
    }
  }
}
