<div class="container" [formGroup]="form">

  <div class="d__flex d__flex--items-center m__top--10">
    <span class="m__right--10">Placeholder</span>
    <input class="input" type="text" formControlName="placeholder">
  </div>

  <div class="d__flex d__flex--items-center m__top--10">
    <span class="m__right--10">Width</span>
    <input class="input" type="text" formControlName="width">
  </div>

  <div class="d__flex d__flex--items-center m__top--10">
    <span class="m__right--10">Height</span>
    <input class="input" type="text" formControlName="height">
  </div>

  <div class="d__flex d__flex--items-center m__top--10">
    <span class="m__right--10">Required</span>
    <input class="input" type="checkbox" formControlName="required">
  </div>

  <div class="d__flex d__flex--items-center m__top--10">
    <span class="m__right--10">Font size</span>
    <input class="input" type="text" formControlName="fontSize">
  </div>

  <div class="d__flex d__flex--items-center m__top--10">
    <span class="m__right--10">Font weight</span>
    <input class="input" type="text" formControlName="fontWeight">
  </div>

  <div class="d__flex d__flex--items-center m__top--10">
    <span class="m__right--10">Color</span>
    <input class="color" [colorPicker]="form.get('color').value" [style.background]="form.get('color').value" (colorPickerChange)="colorChange($event, 'color')">
  </div>

  <div class="d__flex d__flex--items-center m__top--10">
    <span class="m__right--10">Background color</span>
    <input class="color" [colorPicker]="form.get('bgColor').value" [style.background]="form.get('bgColor').value" (colorPickerChange)="colorChange($event, 'bgColor')">
  </div>

  <div class="d__flex d__flex--items-center m__top--10">
    <span class="m__right--10">Border radius</span>
    <input class="input" type="text" formControlName="borderRadius">
  </div>

  <div class="d__flex d__flex--items-center m__top--10">
    <span class="m__right--10">Border width</span>
    <input class="input" type="text" formControlName="borderWidth">
  </div>

  <div class="d__flex d__flex--items-center m__top--10">
    <span class="m__right--10">Border color</span>
    <input class="color" [colorPicker]="form.get('borderColor').value" [style.background]="form.get('borderColor').value" (colorPickerChange)="colorChange($event, 'borderColor')">
  </div>

</div>