<input type="text" [disabled]="isTemplate" [placeholder]="styles.placeholder" [ngStyle]="{
  'width' : styles.width + 'px',
  'height' : styles.height + 'px',
  'padding' : styles.paddingTop + 'px ' + styles.paddingLeft + 'px',
  'marginTop' : styles.marginTop + 'px',
  'required' : styles.required,
  'fontSize' : styles.fontSize + 'px',
  'fontWeight' : styles.fontWeight,
  'color' : styles.color,
  'backgroundColor' : styles.bgColor,
  'borderRadius' : styles.borderRadius + 'px',
  'borderWidth' : styles.borderWidth + 'px',
  'borderColor' : styles.borderColor
}">
