<div [ngClass]="styles?.align" [ngStyle]="{ 'marginTop': styles.marginTop + 'px' }" class="d__flex d__flex--items-center">
  <input class="m__right--10" [(ngModel)]="value" (ngModelChange)="onChange($event)" type="checkbox" name="checkbox" id="checkbox_id"  [ngStyle]="{
  'width' : styles.width + 'px',
  'height' : styles.height + 'px'
  }">
  <label for="checkbox_id" [ngStyle]="{
  'fontSize' : styles.fontSize + 'px',
  'fontWeight' : styles.fontWeight,
  'color' : styles.Color
  }">{{styles.placeholder}}</label>
</div>
