<mat-accordion *ngrxLet="components$ as components">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        General styles
      </mat-panel-title>
    </mat-expansion-panel-header>
    <app-general-styles></app-general-styles>
  </mat-expansion-panel>

  <mat-expansion-panel (click)="onExpand(component)" [expanded]="(selectedComponent$ | ngrxPush) === component.id" *ngFor="let component of components; trackBy:identify">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{component.name}}
      </mat-panel-title>
    </mat-expansion-panel-header>
    <app-component-styles [component]="component"></app-component-styles>
  </mat-expansion-panel>
</mat-accordion>
