<ng-container *ngrxLet="generalStyles$ as styles">
  <div
  cdkDropList
  id="list-6"
  [cdkDropListData]="components"
  [cdkDropListConnectedTo]="'list-1'"
  class="d__flex d__flex--direction-column h__100vh d__flex--items-center"
  (cdkDropListDropped)="drop($event)"
  [ngStyle]="{
    'padding': styles?.paddingTop + 'px ' + styles?.paddingLeft + 'px',
    'backgroundColor': styles?.backgroundColor
  }">
  <div class="example-box w__100per d__flex d__flex--direction-column d__flex--items-center" [ngStyle]="{ 'marginBottom': styles?.margins + 'px' }" *ngFor="let component of components; let i = index" cdkDrag>
    <ng-template [cdkPortalOutlet]="component.component" (attached)="foo($event)"></ng-template>
  </div>
</div>
</ng-container>
