<div
    cdkDropList
    id="list-1"
    [cdkDropListData]="templateComponents"
    [cdkDropListConnectedTo]="'list-6'"
    class="d__flex d__flex--direction-column"
    [cdkDropListSortingDisabled]="true"
    [cdkDropListEnterPredicate]="noReturnPredicate"
    (cdkDropListDropped)="drop($event)"
    >
    <div class="example-box w__100per d__flex d__flex--direction-column d__flex--items-center" *ngFor="let component of templateComponents" cdkDrag>
      <ng-template [cdkPortalOutlet]="component.component" (attached)="input($event)"></ng-template>
    </div>
</div>
